:root{
    --blue:rgb(9, 244, 252);
    --pink: rgb(233, 8, 195) ;
}
@font-face {
    font-family: stargate;
    src: url("../css/fonts/STARGATE.TTF");
}
@font-face {
font-family: scifi;
src: url("../css/fonts/12saruyellowfog/12SAYF.TTF");
}
@keyframes ring {
    0% {transform: rotate(0);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
  }
body{
    background-color: rgb(199, 199, 199);
    margin: 0 auto;
    padding: 0;
}
.center{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    height: 100%;
}
.icon {
    font-size: 48px;
    color: white;
}
h1{
    color: white;
    background-color: black;
    font-family: scifi;
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
}
h2{
    color: white;
    background-color: black;
    font-family: scifi;
    font-size: 30px;
    padding: 5px;
    width: 95%;
}
header{ 
    width: 100%;
    height: 200px;
    padding-bottom: 5px;
    background-image: url("../img/00023-1141849794.png");
    background-color: gray;
    background-repeat: repeat-x;
    background-size: contain;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        #logo{
            img{
                height: 100%;
                width: 100%;
            }
    
            display: inline-block;
            height: 180px;
            width: 180px;
            box-shadow: 5px 5px  var(--blue), 
                        10px 10px var(--pink);
        }
        #honlapcim{
            margin-left: 20px;
            background-color: var(--pink);
            padding-left: 5px;
            height: 50px;
            div:first-child{
                height: 100%;
                width: 5px;
                background-color: var(--blue);
                display: inline-block;
            }
            div:nth-child(2){
                height: 100%;
                width: 5px;
                background-color: aquamarine;
                display: inline-block;
            }
        }
    }
    
    
        
}
nav{
    width: 100%;
    height: 55px;
    background-color: var(--pink);
    position: sticky;
    top: 0;
    div{
        height: 50px;
        width: 100%;
        background-color: black;
        
    }
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden !important;

}
.nav-container{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 50px;
    li{
        height: 100%;
        width: calc(100%/8 - 2px);
        display: flex;
        align-items: center;
        justify-content: center;
        
        a{
            text-decoration: none;
            color: white;
            font-family: stargate;
            font-size: large;
        }
        
    }
    li:hover{
        background-color: var(--pink);
    }
    a:hover{
        transform: scale(1.2);
        text-shadow: 2px 2px black;
    }
        
}


.item1{
    grid-area: legujabb;
    background-image: url("../img/news/00105-3032061633.webp");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
        a{
            text-decoration: none;
        }

}
.item1:hover{
    transition:all 200ms ease-in;
    transform: scale(1.1);
    a{
        transition: all 200ms linear;
        transform: translateY(-20px) scale(1.05);
    }
}
.item2{
    grid-area: ujabb;
    background-image: url("../img/news/706af744-a64a-4a22-af79-5a11a7a6f70d7.webp");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
        a {
            text-decoration: none;
        }
        

}
.item2:hover{
    transition:all 200ms ease-in;
    transform: scale(1.1);
    a{
        transition: all 200ms linear;
        transform: translateY(-20px) scale(1.05);
    }
}
.item3{
    grid-area: uj;
    background-image: url("../img/news/00111-2641121600.webp");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
        a {
            text-decoration: none;
        }
}
.item3:hover{
    transition:all 200ms ease-in;
    transform: scale(1.1);
    a{
        transition: all 200ms linear;
        transform: translateY(-20px) scale(1.05);
    }
}
.legfobbnews-container{
    grid-area: legfobbnews;
    width: 1100px;
    display: grid;
    grid-template-areas:
    "legujabb ujabb"
    "legujabb uj";
}


main{
    background-color: white;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 25px !important;
        .main-container{
            background-color: rgba(177, 177, 177, 0.199);
            display: grid;
            grid-template-areas:
            "hirekcim hirekcim hirekcim"
            "legfobbnews legfobbnews legfobbnews"
            "mainnews-container mainnews-container mainnews-container"
            "tovabbicim tovabbicim socialscim"
            "news-container news-container socials"
            "rovatokcim rovatokcim rovatokcim"
            "subnews-container subnews-container subnews-container";
            gap: 10px;
            padding: 10px;
            #hirek{
                grid-area: hirekcim;
                display: flex;
                align-items: center;
                div{
                    background-color: var(--pink);
                    height: 50px;
                    width: 5px;
                }
                
            }
            #tovabbi{
                grid-area: tovabbicim;
                display: flex;
                align-items: center;
                div{
                    background-color: var(--blue);
                    height: 50px;
                    width: 5px;
                }
            }
            #rovatok{
                grid-area: rovatokcim;
                display: flex;
                align-items: center;
                div{
                    background-color: aquamarine;
                    height: 50px;
                    width: 5px;
                }
            }
            #socials{
                grid-area: socialscim;
                display: flex;
                align-items: center;
                div:nth-child(1){
                    background-color: red;
                    height: 50px;
                    width: 5px;
                }
                div:nth-child(2){
                    background-color: lightblue;
                    height: 50px;
                    width: 5px;
                }
                div:nth-child(3){
                    background-color: blueviolet;
                    height: 50px;
                    width: 5px;
                }
                div:nth-child(4){
                    background-color: black;
                    height: 50px;
                    width: 5px;
                }
                div:nth-child(5){
                    background-color: blue;
                    height: 50px;
                    width: 5px;
                }
                div:nth-child(6){
                    background-color: orange;
                    height: 50px;
                    width: 5px;
                }
            }
            
        
            .mainnews-container{
                grid-area: mainnews-container;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                row-gap: 5px;
                justify-content: space-around;
                align-items: flex-start;
                align-content: space-around;
                    .mainnews a{
                        background-color: rgba(127, 255, 212, 0);
                        text-decoration: none;
                        width: 250px;
                        padding: 5px;
                        display: grid;
                        grid-template-areas:
                        "hirkep hirkep"
                        "hircim hircim"
                        "date author";  
                    }
            }
            .news-container{
                grid-area: news-container;
                display: flex;
                flex-direction: column;
                align-content: flex-start;
                .news a{
                    width: 100%;
                    height: 200px;
                    margin-bottom: 40px;
                    display: grid;
                    grid-template-areas:
                    "hircim hircim hircim"
                    "hirkep content content"
                    "hirkep content content"
                    "hirkep content content"
                    "hirkep content content"
                    "hirkep content content"
                    "hirkep date author";
                    text-decoration: none;
                    
                    h3{
                        background: linear-gradient(to right,var(--blue), white);
                        color: black;
                    }
                }

            }
            .subnews-container{
                grid-area: subnews-container;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                align-content: flex-start;
                row-gap: 10px;
                    .subnews{
                        width: 300px; 
                        background-color: black;
                        h3{
                            background-color: aquamarine !important;
                            color: black;
                            margin: 0;
                        }
                        ul{
                            list-style: square;
                            color: aquamarine;
                            li{
                                padding: 3px;
                                a{
                                    text-decoration: none;
                                    color: white;
                                    padding-left: 5px;
                                }
                            }
                        }
                    }
            }
            .socials-conatiner{
                grid-area: socials;
                display: flex;
                width: 300px;
                flex-direction: column;
                align-items: center;
                row-gap: 10px;
                a{
                    text-decoration: none;
                    color: white;
                    font-size:27px;
                    img{
                        height: 80px;
                        margin-right: 15px;
                        filter: invert(100%);
                        margin-left: 15px;
                    }
                    div{
                        height: 100px;
                        width: 250px;
                        border-radius: 10px;
                        border: 2px solid black;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        background-color: red;
                    }     
                }
                a:nth-of-type(2){
                    div{
                        background-color: lightblue;
                    }
                }
                a:nth-of-type(3){
                    div{
                        background-color: blueviolet;
                    }
                }
                a:nth-of-type(4){
                    div{
                        background-color: black;
                    }
                }
                a:nth-of-type(5){
                    div{
                        background-color: blue;
                    }
                }
                a:nth-of-type(6){
                    div{
                        background-color: orange
                    }
                }
                a:hover{
                    img{
                        animation: ring;
                        animation-duration: 300ms;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;

                    }
                    transform: scale(1.1);
                    transition: all 200ms linear;

                }
            }
    
        }

}
.newsaddres{
    grid-area: hircim;
    background-color: rgb(233, 8, 195);
    color: white;
    margin: 2px 0 2px 0;
    padding: 2px;
}
.hirkep{
    grid-area: hirkep;
    background-color: black;
    height: 200px;
    width: calc(100% - 10px) ;
    background-color: black;
    margin: 0 auto;
    img{
        height: 100%;
        width: 100%;
    }
}
.date{
    grid-area: date;
    margin: 2px;
    color: black;
    font-style: italic;
    padding: 2px;
    display: flex;
    align-content: center;
    column-gap: 5px;
}
.author{
    grid-area: author;
    margin: 2px;
    padding: 2px;
    color: black;
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: left;
    column-gap: 5px;
}
.content{
    grid-area: content;
    color: black;
    text-align: justify;
}
.news-content{
    width: 100%;
    display: grid;
    grid-template-areas:
    "hirkep hirkep hirkep"
    "hircim hircim hircim"
    "author date date"
    "content content content"
    ;
    
}
hr{
    border: 1px solid gray;
    width: 100%;
}
footer{
    width: 100%;
    background-color: black;
    height: 300px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
}
.linkwhite{
    color: white !important;
    text-decoration: none;
}
.linkblack{
    color: black;
    text-decoration: none;
}
.iconimage{
    margin: 10px;
    height: 50px;
    width: 50px;
    img{
        height: 100%;
        width: 100%;
        filter: invert(100%);
    }
}
.flexrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
}
.flexcol{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.black{
    background-color: black;
}
.textsmall{
    font-size: 15px;
}
.justify-text{
    text-align: justify;
}
button {
    background-color: var(--pink);
    border: none;
    color: white;
    width: 150px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.place-container{
    display: grid;
    width: 360px;
    padding: 10px;
    margin-bottom: 10px;
    grid-template-areas:
    "bolygo bolygo"
    "place-cim place-cim"
    "bolygo-adatok bolygo-adatok"
    "interest interest"
    "food food";
    h2{
        margin: 2px !important;
    }
    ul{
        margin: 2px;
    }
    p{
        font-size: 12px;
        margin: 2px;
    }
    .interesting:hover{
        a{
            h3{
                transform: scale(1.1);
            }
            .material-symbols-outlined{
                animation: ring;
                animation-duration: 300ms;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }
    }
}
.place{
    grid-area: place-cim;
}
.bolygo{
    grid-area: bolygo;
    background-color: brown;
    width: 360px;
    height: 100px;
    margin-bottom: 5px;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.bolygo-adatok{
    grid-area: bolygo-adatok;
}
.interesting{
    grid-area: interest;
}

.food{
    grid-area: food;
    h3{
        background-color: var(--blue) !important;
        color: black !important;
        
    }
}
.food:hover{
    a{
        h3{
            transform: scale(1.1);
        }
        .material-symbols-outlined{
            animation: ring;
            animation-duration: 300ms;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
    
}

.places-container{
    article:nth-child(odd){
        border:2px solid var(--blue);
    }
    article:nth-child(even){
        border:2px solid var(--pink);
    }
}
.text-center{
    text-align: center;
}
.team-container{
    margin-bottom: 10px;
    padding: 5px;
    width: 360px;
    display: grid;
    grid-template-areas:
    "bolygo bolygo"
    "place-cim place-cim"
    "bolygo-adatok bolygo-adatok"
    "interest interest"
    "food food";
    h2{
        margin: 2px !important;
    }
    h3{
        width: 95% !important;
    }
    ol li:hover{
        transform: scale(1.1);
    }
    ol li{
        float: left;
        width: 140px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    ol li a {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 100%;
    }
    div:nth-child(3){
        h3{
            background-color: black !important;
        }
    }
}
.listrow{
    li{
        float: left;
        width: 100px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    li a {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 100%;
    }
}
.teams{
    article:nth-child(1){
        border: 2px solid red;
        h2{
            background-color: red;
        }
    }
    article:nth-child(2){
        border: 2px solid greenyellow;
        h2{
            background-color: greenyellow;
            color: black ;
        }
    }
    article:nth-child(3){
        border: 2px solid yellow;
        h2{
            background-color: yellow;
            color: black ;
        }
    }
    article:nth-child(4){
        border: 2px solid black;
        h2{
            background-color: black ;
        }
    }
    article:nth-child(5){
        border: 2px solid orange;
        h2{
            background-color: orange ;
        }
    }
    article:nth-child(6){
        border: 2px solid darkblue;
        h2{
            background-color: darkblue;
        }
    }
    article:nth-child(7){
        border: 2px solid grey;
        h2{
            background-color: grey ;
        }
    }
    article:nth-child(8){
        border: 2px solid darkgoldenrod;
        h2{
            background-color: darkgoldenrod;
        }
    }
    article:nth-child(9){
        border: 2px solid green;
        h2{
            background-color: green;
        }
    }
    article:nth-child(10){
        border: 2px solid lightcoral;
        h2{
            background-color: lightcoral
        }
    }
}
.pilot-container{
    margin-bottom: 10px;
    padding: 5px;
    width: 500px;
    border: black 2px solid !important;
    display: grid;
    grid-template-areas:
    "bolygo interest"
    "place-cim interest"
    "food food";
    h2{
        margin: 2px !important;
        background-color: black !important;
    }
    h3{
        background-color: var(--pink) !important;
        color: white !important;
    }
    .bolygo{
        height: 200px !important;
        width: 200px !important;
        margin: 0 auto;
    }
}
.red{
    color: red;
}
.yellow{
    color: darkorange;
}
.blue{
    color: aqua;
}
.brown{
    color: brown;
}
.flex-center{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    
}
.black-bg{
    background-color: black !important;
}
.gray{
    background-color: rgba(177, 177, 177, 0.199);
    padding: 10px;
}
.warning{
    width: 95%;
    height: 60px;
    background-color: yellow;
    color: red;
    margin: 15px;
    text-align: center;
}
.jelzes{
    width: 95%;
    height: 60px;
    background-color: green;
    color: white;
    margin: 15px;
    text-align: center;
}
.error{
    width: 95%;
    height: 60px;
    background-color: red;
    color: white;
    margin: 15px;
    text-align: center;
}
.kosar{
    width: 95%;
    background-color: white;
    border: 1px var(--pink) solid;
    color: black;
    margin: 15px;
    text-align: center;
}
.termek-kep{
    height: 150px !important; 
    width: 150px !important;
}
.termek-lap{
    width: 230px;
}
.shop-gomb{
    width: 40px;
}
.center-tb{
    margin: 0 auto;
}
.form{
    margin: 20px;
}
input, select, textarea, fieldset { margin-bottom: 10px; }

input[type="reset"], input[type="submit"] {
    background-color: var(--pink);
    color: #FFF;
    border: none;
    outline: none;
    font-size: 16px;
    width: 150px;
    height: 40px;
}
input:focus { 
    background-color: rgb(168, 0, 154); 
}
.right{
    text-align: right;
}
.padding{
    padding: 10px;
}
.block{
    display: block;
}
.flex-base{
    align-items: baseline !important;
}
#mobil{
    display: none;
    background-color: black;
    details ul li{
        padding: 5px;
    }
}
@media only screen and (max-width: 1200px) {
    header{
        display: none;
    }
    footer{
        display: none;
    }
    #mobil{
        display: block;
    }
    iframe{
        display: none;
    }
    nav{
        display: none;
    }
    .center{
        width: 100%;
        padding: 0;
    }
    main{
        width: 100%;
        padding: 0 !important;
        .main-container{
            padding: 0;
            margin: 0 auto;
            width: 100%;
            background-color: rgba(177, 177, 177, 0.199);
            display: grid;
            grid-template-areas:
            "hirekcim"
            "legfobbnews"
            "mainnews-container"
            "tovabbicim"
            "news-container"
            "rovatokcim"
            "subnews-container"
            "socialscim"
            "socials";
            .news-container{
                .news a{
                    width: 100%;
                    margin-top: 40px;
                    grid-template-areas:
                    "hircim"
                    "hirkep";
                    .content{
                        display: none;
                    }
                }
        
            }
            .subnews-container{
                justify-content: center;
            }
            .socials-conatiner{
                justify-content: center;
            }
        }
    }
    .content{
        padding-inline: 10px;
    }
    .legfobbnews-container{
        width: 100%;
        grid-template-areas:
        "legujabb" 
        "ujabb"
        "uj";
    }
    .item1{
        width: 100%;
    }
    .item2{
        width: 100%;
    }
    .item3{
        width: 100%;
    }
    .date{
        display: none;
    }
    .author{
        display: none;
    }
    
    hr{
        display: none;
    }
    .places-container{
        width: 100%;
    }
    .warning{
        height: 100%;
    }
    .jelzes{
        height: 100%;
    }
    .error{
        height: 100%;
    }
    
}